<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<appSettings>
	<add key="logPath" value="C:\Users\SergeyGoncharov\source\repos\NewCSHARPREPO\CsharpClassPractice\DZ_7_RaceGame\Log.txt"/>
</appSettings>
</configuration>
